.frame-action-wrapper {
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
  align-items: center;
}

.frame-btn {
  height: 12px;
}

.frame-btn-l-margin{
  margin-left: 4px;
}

.frame-btn-r-margin{
  margin-right: 4px;
}
